@model EF2018MVC.Models.Lodging

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lodging</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsResort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsResort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilesFromNearestAirport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilesFromNearestAirport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LodgingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
